.services-card_wrapper {
    margin: 0 5px 20px 0;
}

.services-card {
    padding: 30px;
    width: 210px;
    height: 180px;
    background-color: rgb(240,240,240);
    overflow: hidden;
    transition: 0.25s;
}
.services-card_wrapper a {
    text-decoration: none;
}
.services-card:hover {
    box-shadow: 5px 7px 5px 2px gray;
}
.services-card:active {
    background-color: rgb(220,220,220);
    box-shadow: 20px 20px 15px gray;
    transition: 0.15s;
}
.services-card img {
    max-width: 120px;
    max-height: 100px;
}
.services-card p {
    margin-top: 20px;

    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
@media screen and (max-width:1050px) {
    .services-card {
        padding: 15px 25px;
        width: 150px;
        height: 130px;
    }
    .services-card img {
        max-width: 110px;
        max-height: 70px;
    }
    .services-card p {
        margin-top: 10px;
        font-size: 1rem;
    }
}
@media screen and (max-width:490px) {
    .services-card {
        padding: 5px 15px;
        width: calc(100vw - 80px);
        height: 60px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
    }
    .services-card img {
        max-width: unset;
        max-height: 55px;
        /* position: absolute; */
        right: 10px;
        top: 10px;
    }
    .services-card p {
        margin-top: 0;
        margin: auto 0;
        font-size: 1rem;
    }
}
@media screen and (max-width:290px) {
    .services-card {
        padding: 5px 15px 5px 15px;
        width: calc(100vw - 85px);
        flex-direction: row;
        justify-content: center;
    }
    .services-card img {
        display: none;
    }
    .services-card p {
        text-align: center;
    }
}