.infographics-component_wrapper {
    margin-bottom: 90px;

    position: relative;
    z-index: 3;
}
.infographics-label-count {
    padding-top: 28px;
    position: absolute;
    left: -140px;
    text-align: center;

    color:var(--brown);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.7rem;

    width: 115px;
    /* height: 115px - padding-top */
    height: calc(115px - 28px); 

    background-color: #fff;
    border: 1px solid var(--brown);
    border-radius: 100%;
    z-index: 3;
}
.infographics-label-count-num {
    font-size: 2rem;
}
.infographics-component_wrapper:not(:last-child)::after {
    content:'';
    display: block;
    width: 1px;
    height: calc(100% + 90px);
    background-color:var(--brown);
    position: absolute;
    left: -81px;
    top: 0;
    z-index: 2;
}

@media screen and (max-width: 750px) {
    .infographics-label-count {
        display: none;
    }
    .infographics-component_wrapper:not(:last-child)::after {
        display: none;
    }
    .infographics-label-count-num {
        display: block;
        position: absolute;
    }

}
@media screen and (max-width: 650px) {
    .infographics-component_wrapper {
        margin-bottom: 25px;
    }
}