.greet {
    height: 100vh;
    max-height: 1080px;
    min-height: 610px;
    width: 100vw;
    max-width: 1920px;

    background: linear-gradient(148.11deg, rgba(0, 0, 0, 0.7) 47.12%, rgba(0, 0, 0, 0) 59.94%),
        url(../../../../img/main-background.jpg);
    background-position:center;

    position: relative;

    color: #fff;
}

.greet__info {
    position: absolute;
    top: 140px;
    left: 10%;
}

.greet__info__big {
    position: relative;
}
.greet__info__big > h1 {
    position: absolute;
    top: 2rem;
    left: 14rem;
    width: max-content;
}
.greet__info__years {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 11.25rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.greet__info__stat {
    margin-top: 40px;
    margin-bottom: 56px;

    display: flex;
    gap: 72px;
}
.greet__info__stat > div {
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}
.greet__info__stat__num {
    margin-bottom: 8px;
}
.greet__info__stat__num > a {
    text-decoration: none;
    color:#fff;

    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.greet-btn {
    width: 250px;
    height: 70px;
    color:#fff;
    background-color: var(--brown);
    border: none;
    border-radius: unset;
}

@media screen and (max-width: 760px) {
    .greet {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%),
        url(../../../../img/main-background.jpg);
        background-size: cover;
        background-position: 65% 50%;
    }
    .greet__info {
        left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .greet__info__big > h1 {
        position: static;
        font-size: 2.5rem;
        width: auto;
    }
    .greet__info__stat {
        gap: 24px;
    }
    .greet__info__years__mobile {
        font-size: 2.5rem;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}
@media screen and (max-width:400px) {
    .greet__info {
        left: 10px;
    }
}