.speech {
    padding: 90px 130px 60px 130px;
}
.speech-header {
    padding-bottom: 40px;
}
.speech-header > h1 {
    font-weight: 700;
}
.speech-position {
    display: flex;
    justify-content: space-around;
}
.speech-photo {
    width: auto;
    height: 100%;

    border-radius: 12px;

    box-shadow: 0 0 5px gray,
    0 0 10px gray,
    0 0 15px gray;

    transition: 1s;
}
.speech-photo:hover {
    box-shadow: 5px 5px 20px black;

    transition: 0.6s;
}
.speech-text {
    color: gray;
    text-align: justify;
    padding: 0 30px;

}
.speech-text > p {
    margin-bottom: 15px;
    text-indent: 25px;
    line-height: 1.4rem;
}
.speech-text--sign {
    color: #000;
    font-weight: 900;
    font-size: 1.1rem;

    padding: 20px 10px 0 0;
    text-align: right;
}