.adv-component_rewards {
    display: flex;
    flex-direction:column;
    align-items:flex-end;
}
.adv-component_tel {
    font-family: 'IBM Plex Mono', monospace;
}
#adv-component_href {
    text-decoration: underline;
}
.adv-component_wrapper {
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    flex-wrap: nowrap;
}
.adv-component_wrapper_modal {
    flex-wrap: wrap;
}
.adv-component_wrapper > * {
    margin: 10px;
}
.adv-component_adv-pic {
    max-width: 400px;
    max-height: 550px;
    border-radius: 20px;
    align-self: start;
    position: sticky;
    top: 100px;
}
.adv-component_adv-pic_modal {
    border-radius: 20px;
    max-width: 350px;
    max-height: 520px;
    align-self: center;
}
.adv-component_table {
    background-color: #fff;
    border:13px solid rgb(235,246,249);
    border-radius: 25px;
    padding:40px 50px 20px 50px;
    max-width: 60%;
    min-width: 500px;
    box-sizing: border-box;
}
.adv-component_table_modal {
    max-height: 70vh;
    min-height: 200px;
    overflow-y: auto;
}
.adv-component_table > table {
    border-collapse: collapse;
}
.adv-component_table > table > thead > tr > td {
    padding-bottom: 40px;
    text-align: center;
    font-size: 1.3rem;
}
.adv-component_table > table tbody > tr > td {
    padding: 7px 0;    
}
.adv-component_table > table tbody > tr > td > a {
    color:black;
    text-decoration: none;
    transition: 1s;
}
.adv-component_table > table tbody > tr > td > a:hover {
    color: gray;
    text-decoration: underline;
    transition: 0.3s;
}
.adv-component_table_body_data {
    text-align: end;
    line-height: 1.4rem;
}
.adv-component_site {
    word-break: break-all;
}
.adv-component_table_body_rewards {
    vertical-align: baseline !important;
}
.adv-component_table_body_rewards_text_modal {
    position: sticky;
    top: 0;
}
.adv-component_table_body_rewards_text {
    position: sticky;
    top: 100px;
}
/* modal screen media queries */
@media screen and (max-width: 529px) {
    .adv-component_adv-name {
        font-size: 1.3rem;
    }
    .adv-component_adv-pic_modal {
        width: 90%;
        max-width:350px;
    }
    .adv-component_table_modal > table tbody > tr > td {
        display: block;
    }
    .adv-component_table {
        padding: 30px 20px 10px;
        min-width: 0;
        max-width: 95%;
        max-height: none;
    }
}
/* personal page media queries */
@media screen and (max-width:1020px) {
    .adv-component_adv-pic {
        width: 40vw;
        height:auto;
    }
}
@media screen and (max-width:920px) {
    .adv-component_wrapper {
        flex-direction: column;
    }
    .adv-component_adv-pic {
        position: static;
        align-self: center;
        /* max-width: 450px; */
        max-height: unset;
        width: 90%;
    }
    .adv-component_table {
        max-width: 100%;
        min-width: 0;
    }
}
@media screen and (max-width:670px) {
    .adv-component_table {
        padding: 30px 20px 10px;
    }
}
@media screen and (max-width:530px) {
    .adv-component_table > table tbody > tr > td {
        display: block;
    }
}