.callback-form {
    position: absolute;
    left: 0;
    display: none;

    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, .5);

    min-height: 600px;
    color:#fff;
}
.active-modal {
    display: block;
    z-index: 3300;
}

.callback-form_flex {
    margin: 90px 150px 60px 150px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.callback-form__form {
    padding: 30px;

    position: relative;

    display: flex;

    background-color: rgb(0, 147, 180);

    background-image: url(../img/mz_knight.cf09.jpg);
    background-repeat: no-repeat;
    background-size: 225px;
    background-position-x: 90%;
    background-position-y: 100%;

    border: 1px solid #fff;
    border-radius: 10px;

    text-shadow: 1px 2px 2px black;
}
@media screen and (max-width: 768px) {
    .callback-form__form {
        flex-direction: column;
    }
    .callback-form {
        min-height: 820px;
    }
}
@media screen and (max-width:768px) and (max-height: 820px) {
    .callback-form_flex {
        margin: 0;
    }
}
.shadow {
    background-color: rgba(0, 0, 0, .4);
}
.callback-form__form > button {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    position: absolute;
}
.callback-form__form > button:hover {
    cursor: pointer;
}
.callback-form__form > div > h1 {
    max-width: 300px;

    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}
.callback-form__form > .block-1 {
    margin-right: 50px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .callback-form__form > .block-1 {
        margin-right: 0;
    }
}

.callback-form__form > .block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callback-form__text {
    padding:30px;
    max-width: 500px;
    height: auto;

    border: 1px solid #fff;
    border-radius: 10px;

    background-color: rgb(0, 0, 0, 0.1);

    text-shadow: 1px 2px 2px black;
    text-align: justify;
    line-height: 1.4rem;
}
.callback-form__text > h1 {
    padding: 24px 0 10px 0;
    line-height: 2.2rem;
}
.callback-form__text > .header-block {
    margin-bottom: 40px;

    box-shadow: 1px 2px 2px black;
}
.callback-form__text > p {
    margin: 20px 0;

    text-indent: 25px;
}

.callback-form__btn {
    text-shadow: 1px 2px 2px #000;
}
.callback-form__text > .btn {
    margin-top: 20px;
    width: 290px;
}
.callback-form__btn:hover {
    text-shadow: none;
}
.callback-form__btn:active {
    text-shadow: none;
}

.callback-form__form__input {
    margin: 10px 0;
    width: 300px;
    height: 40px;

    font-size: 1.1rem;
    text-shadow: 1px 2px 2px #000;

    border: none;
    border-bottom: 1px solid #fff;

    resize: none;
    outline: none;

    background-color: transparent;

    color: #fff;
}
.agreement {
    margin-bottom: 10px;
    height: auto;
    border: none;
    text-align: center;
}
.textarea {
    margin-bottom: 20px;
    padding:10px;

    width: 278px;
    height: 240px;

    border: 1px solid #fff;
    border-radius: 10px;

    overflow-wrap: break-word;

    text-align: justify;
}
.callback-form__form__input::placeholder {
    font-size: 1rem;
    color:rgba(180,180,180);
    text-shadow: 1px 2px 2px #000;
    font-style: italic;
}

.callback-btn {
    padding: 10px 20px 13px 20px;
    box-sizing: border-box;
    border: none;

    color:#fff;
    font-weight: 200;

    background-color:rgb(0, 108, 133);

    position: fixed;

    top: 160px;
    right: -4.14rem;

    z-index: 1000;

    transform:rotate(270deg);

}
.callback-btn:hover {
    cursor: pointer;
}

@media screen and (min-width:1920px) {
    .callback-btn {
        right: calc(50vw - 1020px);
    }
}
@media screen and (max-width:360px) {
    .callback-form__form {
        overflow-x: hidden;
    }
}