.infographics {
    padding: 150px 160px;
    padding-left: calc(20vw + 150px);

    position: relative;
}

.infographics > h2 {
    margin-bottom: 72px;
}

@media screen and (max-width: 1300px) {
    .infographics {
        padding-left: calc(20vw + 20px);
    }
}
@media screen and (max-width: 750px) {
    .infographics {
        padding-left: unset;
        padding: 100px;
    }
}
@media screen and (max-width: 650px) {
    .infographics {
        padding-left: unset;
        padding: 100px 50px;
    }
}
@media screen and (max-width: 500px) {
    .infographics {
        padding-left: unset;
        padding: 100px 20px;
    }
}