.contacts-page {
    padding: 240px 160px 70px;
    position: relative;
    min-height: 930px;
}

.contacts-page h2 {
    margin-bottom: 50px;
    
}
.contacts-page a {
    text-decoration: none;
    color: #000;
}
.contacts-page a:hover {
    text-decoration: underline;
}

.contacts-page_buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    gap: 24px;
}
.contacts-page_branch-button {
    padding-bottom: 16px;
    border: unset;
    background-color: #fff;
    font: var(--font1);
    border-bottom: 1px solid transparent;
}
.contacts-page_branch-button:hover {
    color: var(--brown);
}
.contacts-page_branch-button.active {
    border-bottom: 1px solid var(--brown);
    
}

.contacts-page_contacts_container {
    margin-left: 50px;
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.contacts-page_contacts {
    padding: 50px;

    max-width: 360px;

    position: relative;
    transform: translateY(140px);
    left: calc(10% - 150px);

    background-color: var(--light-brown);
    
    z-index: 1;
}
.contacts-page_item {
    position: relative;
}
.contacts-page_contacts i {
    font-size: 2rem;
    color: var(--brown);
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}


.contacts-page_absolute-map {
    position: absolute;
    top: 520px;
    width: 100%;
}

._contacts_show-payment {
    margin: 10px 0 20px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: var(--brown);
    font: var(--font1);
    color: #fff;
    transition: 0.4s ease-in-out;
}
._contacts_show-payment-active {
    border: 1px solid var(--brown);
    color:var(--brown);
    background-color:var(--light-brown);
}

@media screen and (max-width: 1460px) {
    .contacts-page_absolute-map {
        top: 570px;
    }
}
@media screen and (max-width: 1200px) {
    .contacts-page {
        padding: 100px;
        padding-top: 200px;
    }
    .contacts-page_absolute-map {
        top: 530px;
    }
    .contacts-page_contacts {
        left: calc(10% - 100px);
    }
}
@media screen and (max-width: 900px) {
    .contacts-page {
        padding-bottom: 0;
    }
    .contacts-page_absolute-map {
        position: static;
    }
    .contacts-page_contacts {
        margin: 50px auto;
        
        transform: unset;
        left: 0;
    }
}
@media screen and (max-width: 650px) {
    .contacts-page {
        padding-left: 50px ;
        padding-right: 50px ;
        min-height: 0;
    }
    .contacts-page_contacts {
        margin: 50px 0;
        position: static;
        background-color:#fff;
        padding: 0;
    }
}
@media screen and (max-width: 500px) {
    .contacts-page {
        padding-left: 20px ;
        padding-right: 20px ;
    }
    .contacts-page_contacts {
        margin: 20px 0;
        padding: 0 20px;
    }
    .contacts-page a {
        word-break: break-all;
    }
}