.contacts-page {
    padding: 120px 100px 0;
    margin-bottom: 20px;
}
.contacts-page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-page_header {
    margin-bottom: 20px;
}

.contacts-page_contacts {
    margin: 20px 40px;
    padding: 40px;
    padding-left: 60px;
    background-color: rgb(245, 253, 255);
    box-shadow: 15px 15px 20px gray;
    line-height: 2rem;
    overflow: auto;
}

.contacts-page_contacts > h3 {
    margin-bottom: 0;
    position: relative;
}
.contacts-page_contacts > h3 .bi {
    position: absolute;
    left: -37px;
    font-size: 1.5rem;
    color:rgb(0, 147, 180);
}
.contacts-page_contacts > p {
    margin-left: 10px;
}
._contacts_show-payment {
    width: 6rem;
    height: 1.5rem;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 5px gray;
}
._contacts_show-payment-active {
    color:#fff;
    background-color: rgb(0, 108, 133);
}

.contacts-page_contacts_anchor {
    position: relative;
    top: -135px;
}
.contacts-page_contacts > .header-block {
    margin-bottom: 15px;
}

.contacts-page_buttons {
    max-width: 300px;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}
.contacts-page_buttons > .btn {
    margin: 10px;
    width: 130px;
    height: 40px;
    font-size: 0.9rem;
}
.contacts-page_buttons > .active {
    box-shadow: 10px 10px 20px rgb(59, 59, 59);
    background-color: rgb(0, 108, 133);
    color: #fff;
}
.contacts-page_buttons > .active:hover {
    box-shadow: 10px 10px 20px rgb(59, 59, 59);
    background-color: rgb(0, 108, 133);
    color: #fff;
}
@media screen and (max-width:1000px) {
    .contacts-page {
        padding: 100px 45px 0;
    }
    .contacts-page_contacts {
        margin: 0;
        padding: 30px;
        padding-left: 60px;
    }
    .contacts-page_contacts_anchor {
        top: -115px;
    }
}
@media screen and (max-width:650px) {
    .contacts-page {
        padding: 100px 35px 0;
    }
    .contacts-page_wrapper {
        flex-direction: column;
    }
    .contacts-page_contacts {
        margin-top: 20px;
        padding: 20px;
        padding-left: 60px;
    }
    .contacts-page_buttons {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        max-width: unset;
    }
    .contacts-page_buttons > .btn {
        width: 110px;
        margin: 5px;
    }
    .contacts-page_contacts_anchor {
        top: -110px;
    }
}
@media screen and (max-width:460px) {
    .contacts-page_header > h1 {
        font-size: 1.6rem;
    }
    .contacts-page {
        padding: 100px 20px 0;
    }
    .contacts-page_contacts {
        padding: 15px;
    }
    .contacts-page_contacts > h3 {
        text-indent: 30px;
    }
    .contacts-page_contacts > p {
        margin-left: 0;
        text-align: center;
    }
    .contacts-page_contacts > h3 .bi {
        left: -65px;
    }
    .contacts-page_contacts_anchor {
        top: -95px;
    }
}