.about-page {
    padding: 120px 130px 60px 130px;
}

.about-page_block > h2 {
    padding-top: 40px;
}
.about-page_block > p {
    position: relative;
    padding: 10px 0;

    color: #666;
    text-align: justify;

    text-indent: 25px;
    line-height: 1.4rem;
}

.about-page_block > .about-page_block_why-us {
    text-indent: 50px;
}
.about-page_block_why-us::before {
    /* content: "\27b2"; */
    content: "\270e";
    /* content: "\27a5"; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 30px;
    color: rgb(0, 147, 180);
    display: block;
    position: absolute;
    left: -40px;
}

.about-page_block > ul {
    padding: 0 60px;
    list-style: none;
}

.about-page_block > ul > li {
    padding: 5px 15px;

    color: #666;
    text-align: justify;

    line-height: 1.4rem;
}
.about-page_block >ul >li::before {
    content: "\2022";
    color: rgb(0, 147, 180);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    width: 1.5rem;
    margin-left: -1.5rem;
}
.about-page_block > ul > li:first-of-type {
    padding-top: 30px;
}
.about-page_block > ul > li:last-of-type {
    padding-bottom: 30px;
}

.about-page_big-stat_wrapper {
    display: flex;
    justify-content: space-evenly;
    
}
.about-page_big-stat_block {
    display: flex;
    flex-direction: column;
}
.big-stat_big-num {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;

    color: rgb(0, 108, 133);
}
.big-stat_big-name {
    font-size: 2rem;
    text-align: center;

    color: rgb(42, 160, 188);
}

.about-page_awards_wrapper {
    padding: 30px 80px;
    justify-content: space-between;
    vertical-align: center;
}

._award {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgb(210, 210, 210);
}
._awards-name > p {
    max-width: 800px;
    padding: 20px 0;

    font-size: 1.1rem;
    color:#666;
}
._awards-num {
    /* display: flex; */
    flex-direction: column;
}
._awards-num > p {
    padding: 20px; 

    font-size: 1.2rem;
    text-align: right;
    font-weight: 700;
    color:rgb(0, 108, 133);
}

@media screen and (max-width:1100px) {
    .about-page {
        padding: 110px 80px 60px;
    }
}
@media screen and (max-width:1000px) {
    .about-page_awards_wrapper {
        padding: 25px 0px;
    }
    .about-page_big-stat_wrapper {
        justify-content: space-between;
    }
}
@media screen and (max-width:850px) {
    .about-page_block > ul {
        padding: 0;
        padding-left: 30px;
    }
}
@media screen and (max-width:650px) {
    .about-page {
        padding: 100px 50px 30px;
    }
    .big-stat_big-num {
        font-size: 3rem;
    }
    .big-stat_big-name {
        font-size: 1.4rem;
    }
}
@media screen and (max-width:450px) {
    .about-page {
        padding: 100px 40px 30px 30px;
    }
    .about-page_block > p {
        text-align: initial;
    }
    .about-page_block > ul > li {
        text-align: initial;
    }
    ._award {
        flex-direction: column;
    }
    .about-page_block > ul {
        padding-left: 15px;
    }
    .about-page_block > ul > li {
        padding: 5px 0 5px 5px;
    }
    .about-page_block > ul > li:first-of-type {
        padding-top: 10px;
    }
    .about-page_block > ul > li:last-of-type {
        padding-bottom: 10px;
    }
}
@media screen and (max-width:350px) {
    .big-stat_big-num {
        font-size: 2rem;
    }
    .big-stat_big-name {
        font-size: 1rem;
    }
}