.swiper-container {
    padding: 40px 0 30px 0;
}

.swiper-block {
    margin: 0 auto;
    padding-bottom: 50px;

    background-color: rgb(240, 240, 240);
}
.swiper-title {
    font-weight: 900;
    padding: 90px 0 0 130px;
}

.swiper-slide {
    height: 450px;

    overflow: hidden;

    border: none;
    outline: 1px solid gray;
    border-radius: 10px;

    box-shadow:
        /* inset 0 0 5px rgb(0, 147, 180),
        inset 0 0 10px rgb(0, 147, 180),
        inset 0 0 15px rgb(0, 147, 180), */
        5px 5px 5px gray;
    background-color:#fff;

    transition: 0.3s;
}
.swiper-slide a {
    text-decoration: none;
}
.swiper-slide:hover {
    box-shadow:
        inset 0 0 10px gray,
        5px 5px 5px gray;
}
.swiper-slide:active {
    box-shadow:
        inset 0 0 20px gray,
        10px 10px 20px gray;
}
.swiper-slide-title_flex {
    display: flex;
    justify-content: space-between;
}
.swiper-slide--title {
    margin: 40px 0 40px 30px;
    font-weight: 900;
    
    box-sizing: border-box;
    width: 130px;

    color: black;
    z-index: 2;
}
.swiper-slide--logo {
    width: auto;
    height: 90px;

    position: absolute;
    right: 0;

    padding-left: 25px;
    z-index: 1;
}
.swiper-slide--text {
    margin: 0 30px;
    color: gray;
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper-block_goto-btn {
    margin-left: 90px;
}
@media screen and (max-width:1000px) {
    .swiper-block > .buisness-switch {
        margin: 0 80px;
    }
    .swiper-title {
        padding: 60px 0 0 80px;
    }
}
@media screen and (max-width:600px) {
    .swiper-block > .buisness-switch {
        margin: 0 60px;
    }
    .swiper-title {
        padding: 60px 0 0 60px;
    }
}
@media screen and (max-width:560px) {
    .swiper-title {
        padding: 40px 0 0 20px;
    }
    .swiper-block > .buisness-switch {
        margin: 0;
    }
    .swiper-block > .buisness-switch {
        flex-direction: column;
    }
    .swiper-block > .buisness-switch > .btn:nth-child(2) {
        margin-left: 0;
    }
    .swiper-container {
        padding: 10px 0;
    }
    .swiper-block_goto-btn {
        margin: 0;
        position: relative;
        left: calc(50vw - 106px);
    }
}