.swiper-container {
    padding: 40px 0 30px 0;
}

.swiper-block {
    padding-bottom: 50px;

    background-color: rgb(240, 240, 240);
}
.swiper-title {
    font-weight: 900;
    padding: 90px 0 0 130px;
}

.swiper-slide {
    margin: 15px 10px;
    padding: 0 30px;

    height: 450px;
    overflow: hidden;

    border: 1px solid gray;
    border-radius: 10px;

    box-shadow:
        /* inset 0 0 5px rgb(0, 147, 180),
        inset 0 0 10px rgb(0, 147, 180),
        inset 0 0 15px rgb(0, 147, 180), */
        5px 5px 5px gray;
    background-color:#fff;

    transition: 0.3s;
}
.swiper-slide:hover {
    box-shadow:
        inset 0 0 10px gray,
        5px 5px 5px gray;
}
.swiper-slide:active {
    box-shadow:
        inset 0 0 20px gray,
        10px 10px 20px gray;
}
.swiper-slide-title_flex {
    display: flex;
    justify-content: space-between;
}
.swiper-slide--title {
    margin: 40px 0 30px 0;
    font-weight: 900;
    
    box-sizing: border-box;
    width: 130px;
}
.swiper-slide--logo {
    width: auto;
    height: 90px;

    position: relative;
    left: 20px;

    padding-left: 25px;
}
.swiper-slide--text {
    color: gray;
    text-align: justify;
}

.swiper-block_goto-btn {
    margin-left: 90px;
}