.team-page {
    padding: 120px 130px 60px 130px;
    min-height: 600px;
}

.adv-name {
    padding: 10px 0;
}
.adv-name > span {
    text-decoration: none;
    color: rgb(114, 114, 114);
    transition: 3s;
    cursor: pointer;
}
.adv-name > span:hover {
    text-decoration: underline;
    color: black;
    transition: 0.1s;
}
.team-page_body {
    margin-top: 20px;
}
.team-page_body > ul {
    list-style: none;
    columns: auto 300px;
    column-width: 300px; /* prevent apple iPad bug, where it automatically rewrites columns width */
}
.team-page_adv-index {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-weight: 700;
    font-size: 1.1rem;
}

.team-page_empty-search_wrapper {
    display: flex;
    justify-content: center;

}
.team-page_empty-search > ul {
    margin-left: 20px;
    list-style: none;
}
.team-page_empty-search > ul > li {
    font-size: 1.1rem;
    line-height: 3rem;
}
.team-page_empty-search > ul> li::before {
    content: "\2022";
    color: rgb(0, 147, 180);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    width: 1.5rem;
    margin-left: -1.5rem;
}
.team-page_empty-search > ul > li > a {
    color: rgb(0, 147, 180);
    text-decoration: none;
}
.team-page_empty-search > ul > li > a:hover {
    text-decoration: underline;
}
.team-page_empty-search > ul > li > a:visited {
    color: rgb(0, 147, 180);
}
.team-page_empty-search > h1 {
    font-size: 2.6rem;
}
.team-page_empty-search > .header-block {
    margin-bottom: 20px;
}

.team-page_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.team-page_search > .header-block {
    margin-top: 0;
    margin-bottom: 30px;
    z-index: 1;
}
.team-page_search-input {
    margin-bottom: -3px;
    width: 180px;
    padding: 0 10px;
    height: 52px;

    color: #fff;
    font-size: 1.1rem;
    text-align: center;

    border: 1px solid #000;
    border-radius: 10px;

    box-shadow: 0 15px 15px -10px gray;
    transition: 0.7s;
    z-index: 3;
    cursor: pointer;
}
.team-page_search-input::placeholder {
    font-size: 1.1rem;
    text-align: center;
    color: rgba(250,250,250, 0.8);
}
.team-page_search-input, textarea {
    background-color:rgb(0,108,133);
}
.team-page_search-input:focus {
    margin-bottom: 50px;
    padding: 5px 20px;
    width: 600px;
    height: 55px;
    outline: none;
    font-size: 1.3rem;
    text-align: start;
    color: gray;
    background-color: rgb(245,245,245);
    box-shadow: 0 0 0 3px rgb(42, 160, 188),
        10px 10px 20px 10px gray,
        0px 0px 5px 1px rgb(42,160,188) inset;
    border-radius: 25px;
    cursor: text;
    transition: 0.4s;
}
.team-page_search-input:focus::placeholder {
    font-size: 1.1rem;
    text-align: start;
    color: rgba(0, 108, 133, 0.7);
}

/* modal personal file */
.team-page_personal-file_wrapper {
    position: fixed;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.team-page_personal-file {
    margin-top: 100px;
}
.team-page_personal-file_wrapper::-webkit-scrollbar {
    display: block;
}

@media screen and (max-width: 1220px) {
    .team-page {
        padding: 120px 80px 60px;
    }
}
@media screen and (max-width: 1100px) {
    .team-page {
        padding: 110px 60px 60px;
    }
}
@media screen and (max-width: 850px) {
    .team-page {
        padding: 100px 10px 60px 60px;
    }
    .team-page_search {
        margin-right: 50px;
    }
    .team-page_search > input:focus {
        width: calc(100vw - 200px);
        min-width: 170px;
    }
    .team-page_empty-search > h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 684px) {
    .team-page_body > ul {
        margin-left: calc(50vw - 200px);
    }
    .team-page_search > input {
        height: 7vh;
        min-height: 30px;
        max-height: 55px;
    }
    .team-page_search > input:focus {
        height: 6vh;
        min-height: 30px;
        max-height: 55px;
    }
}
@media screen and (max-width: 470px) {
    .team-page {
        padding: 100px 40px 40px;
    }
    .team-page_search {
        margin-right: 0;
    }
}
@media screen and (max-width: 400px) {
    .team-page {
        padding: 100px 20px 40px;
    }
    .team-page_header > *, .team-page_empty-search > h1 {
        font-size: 1.7rem;
    }
    .team-page_body > ul {
        margin-left: 0;
    }
    .team-page_search-input:focus::placeholder {
        font-size: 1rem;
    }
}