.contacts-page {
    padding: 120px 130px 0 130px;
    margin-bottom: 20px;
}
.contacts-page_wrapper {
    display: flex;
    justify-content: center;
}
.contacts-page_buttons > .btn {
    margin: 10px;
    width: 130px;
    height: 40px;
    font-size: 0.7rem;
}

.contacts-page_contacts {
    margin: 20px 40px;
    padding: 40px;
    box-shadow: 15px 15px 20px gray;
    border: 1px solid rgba(240,240,240,0.5);
    line-height: 2rem;
    width: 700px;
    overflow: auto;
}

.contacts-page_buttons {
    max-width: 300px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.contacts-page_buttons > .active {
    box-shadow: 10px 10px 20px rgb(59, 59, 59);
    background-color: rgb(0, 108, 133);
    color: #fff;
}
.contacts-page_buttons > .active:hover {
    box-shadow: 10px 10px 20px rgb(59, 59, 59);
    background-color: rgb(0, 108, 133);
    color: #fff;
}