/* main theme colors:
    #fff (white)
    rgb (128, 128, 128) (gray)
    rgb (42, 160, 188) (white-blue)
    rgb (0, 147, 180) (blue) 
    rgb (0, 108, 133) (dark blue)*/
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,400;1,700&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /* font-weight: 400; */
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.2rem;
}
html {
    scroll-behavior: smooth;
    max-width: 1920px;
    margin: 0 auto;
}
body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
h1 {
    font-weight: 700;
}
a {
    color: rgb(0, 147, 180);
}
.btn {
    height: 52px;
    width: 212px;

    text-decoration: none;
    background-color:transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;

    font-weight: 500;
    font-size: 1.1rem;

    transition: 1s;
}

.btn-white {
    color:#fff;
    border: 1px solid #fff;
    box-shadow: 1px 2px 2px rgb(80, 80, 80);

}
.btn-white:hover {
    color: rgb(0, 147, 180);
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.btn-white:active {
    color:rgb(0, 122, 150);
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 2px 2px rgb(80, 80, 80),
        inset 0 0 5px rgb(42, 160, 188),
        inset 0 0 10px rgb(42, 160, 188),
        inset 0 0 15px rgb(42, 160, 188);
    border-color: rgb(0, 147, 180);
    transition: 0.3s;
}

.btn-dark {
    color: rgb(59, 59, 59);
    border: 1px solid rgb(59, 59, 59);
    box-shadow: 1px 2px 2px rgb(80, 80, 80);
    transition: 0.5s;

}
.btn-dark:hover {
    color:#000;
    border-color: #000;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgb(80, 80, 80),
        inset 0 0 5px gray;
    background-color:rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.btn-dark:active {
    box-shadow: 0 0 0 gray,
        inset 2px 2px 5px gray,
        inset 4px 4px 10px rgb(80, 80, 80);
    background-color:rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

.header-block {
    margin-top: 10px;
    width: 70px;
    height: 3px;
}
.header-sub-block {
    margin-top: 10px;
    width: 60px;
    height: 2px;
}
.header-block_white {
    background-color: #fff;
}
.header-block_dark {
    background-color:rgb(42, 160, 188);
}

._nav-main {
    margin-right: 20px;

    text-decoration: none;
    color: gray;

    transition: 1s;
}
._nav-main:not(:first-child) {
    margin: 0 20px;
}
._nav-main:hover {
    color:#000;
    text-decoration: underline;
    cursor: pointer;

    transition: 0.3s;
}

@media screen and (max-width: 240px), (max-height:240px) {
    * {
        display: none !important;
    }
    html, body, #root, .low-width-alert-message, .low-width-alert-message h4 {
        display: block !important;
        text-align: center;
        margin-top: 30px;
        max-width: 100vw;
    }
}
@media screen and (min-width: 240px), (min-height: 240px) {
    .low-width-alert-message {
        display: none;
    }
}