.service-page_wrapper {
    margin: 0 auto;
    padding: 120px 60px 60px 60px;
    max-width: 1000px;
}
.service-page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-page_header h1 {
    margin-left: 30px;
}
.service-page_header img {
    width: 120px;
}
.service-page_text {
    margin: 30px 0;
    text-align: justify;
    line-height: 1.5rem;
    text-indent: 30px;
    color: rgb(80, 80, 80);
    white-space: pre-wrap;
}
.service-page_text p {
    margin: 20px 0;
}
.service-page_text ul {
    margin-left: 30px;
    text-indent: 0;
    list-style: none;
}
@media screen and (max-width:840px) {
    .service-page_header h1 {
        font-size: 1.6rem;
    }
    .service-page_header img {
        width: 80px;
    }
}
@media screen and (max-width:640px) {
    .service-page_wrapper {
        padding: 100px 40px 40px;
    }
}
@media screen and (max-width:500px) {
    .service-page_header {
        flex-direction: column;
    }
    .service-page_header h1 {
        margin-left: 0;
        align-self: flex-start;
    }
}