.career-page {
    padding: 120px 130px 60px 130px;
}

.career-page_text > p {
    padding: 30px 0;

    color: gray;
    text-align: justify;

    text-indent: 25px;
    line-height: 1.4rem;
}
.career-page_text > ul {
    margin-left: 20px;
    list-style: none;
}
.career-page_text > ul > li {
    margin-bottom: 15px;
}
@media screen and (max-width: 1000px) {
    .career-page {
        padding: 100px 80px 40px 80px;
    }
}
@media screen and (max-width: 560px) {
    .career-page {
        padding: 100px 40px 40px 40px;
    }
}
@media screen and (max-width: 500px) {
    .career-page_header > * {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 380px) {
    .career-page_header > * {
        font-size: 1.5rem;
    }
}