.footer {
    padding: 50px 150px;

    background-color: rgb(235, 246, 249);
    font-size: 0.85rem;
    font-weight: 500;
    color: grey;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-img {
    width: 315px;
}

.flex-container {
    padding-left: 150px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
}
.footer-menu {
    padding: 35px 0;
}
.footer-menu > ul > li {
    padding: 12px 0;
    
    list-style: none;
}
.footer-menu > ul > li > a {
    text-decoration: none;
    color:gray;
    transition: 5s;
}
.footer-menu > ul > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-menu > ul > li > a:active {
    color:black;
    transition: 0.2s;
}

.buisness-card {
    padding: 20px;

    text-align: center;

    transition: 1s;
}
/* .buisness-card:hover {
    box-shadow: 5px 5px 20px 5px gray;

    transition: 0.6s;
} */
.buisness-card > * {
    padding: 14px 0;
}
.buisness-card > h3 {
    margin: 0;
    text-decoration: underline;
    color:#fff;
    text-shadow: 0 0 4px black,
        0 0 20px black;
}
.buisness-card > a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    transition: 2s;
}
.buisness-card > a:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 3px 3px 7px black;
    transition: 0.2s;
}
.buisness-card > a:active {
    color:rgb(200,200,200);
    transition: none;
}

.svp-list_shadow {
    filter: drop-shadow(0px 0px 16px rgb(0,108,134));    
}
.svp-list_label {
    position: relative;
    width: 240px;
    height: 340px;
    top: -52px;
    background: linear-gradient(rgb(42,160,188), rgb(0, 108, 134));
    z-index: 3;
}
.svp-list_label::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 13px;
    top: -10px;
    background-color: rgb(42,160,188);
    border-top-left-radius: 20px;
}
.svp-list_label::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 13px;
    top: -10px;
    left: 240px;
    background-color: rgb(0, 108, 134);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.svp-list_label_bottom {
    position: absolute;
    top: 340px;
    left: 0px;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 45px solid rgb(0, 108, 134);
}