.footer {
    padding: 50px 150px;
    position: relative;

    background-color: var(--super-light-blue-color);
    font-size: 0.85rem;
    font-weight: 500;
    color: grey;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-img {
    width: 315px;
}
.mobile-logo-img {
    display: none;
}

.flex-container {
    padding-left: 150px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    width: 100%;
}
.footer-menu {
    padding: 35px 0;
}
.footer-menu > ul > li {
    padding: 12px 0;
    
    list-style: none;
}
.footer-menu > ul > li > a {
    text-decoration: none;
    color:gray;
    transition: 5s;
}
.footer-menu > ul > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-menu > ul > li > a:active {
    color:black;
    transition: 0.2s;
}

.buisness-card {
    padding: 20px;

    text-align: center;

    transition: 1s;
}
/* .buisness-card:hover {
    box-shadow: 5px 5px 20px 5px gray;

    transition: 0.6s;
} */
.buisness-card > * {
    padding: 14px 0;
}
.buisness-card > h3 {
    margin: 0;
    text-decoration: underline;
    color:#fff;
    text-shadow: 0 0 4px black,
        0 0 20px black;
}
.buisness-card > a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    transition: 2s;
}
.buisness-card > a:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 3px 3px 7px black;
    transition: 0.2s;
}
.buisness-card > a:active {
    color:rgb(200,200,200);
    transition: none;
}
.buisness-card > p {
    color: #fff;
    text-shadow: 2px 2px 5px black;
}
.buisness-card_working-time {
    padding: 0;
}
.buisness-card_working-time:first-of-type {
    padding-top: 14px;
}

.svp-list_shadow {
    filter: drop-shadow(0px 0px 16px rgb(0,108,134));    
}
.svp-list_label {
    position: relative;
    width: 240px;
    height: 380px;
    top: -53px;
    background: linear-gradient(rgb(42,160,188), rgb(0, 108, 134));
    z-index: 3;
}
.svp-list_label::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 13px;
    top: -10px;
    background-color: rgb(42,160,188);
    border-top-left-radius: 20px;
}
.svp-list_label::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 13px;
    top: -10px;
    left: 240px;
    background-color: rgb(0, 108, 134);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.svp-list_label_bottom {
    position: absolute;
    top: 380px;
    left: 0px;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 45px solid rgb(0, 108, 134);
}
.authors, .authors-cover, .authors-cover-active {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 2s cubic-bezier(0.79, 0.02, 1, 1) 5s;
}
.authors {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    max-height: 2rem;
}
.authors-names {
    color: transparent;
    transition: 2s cubic-bezier(0.79, 0.02, 1, 1) 5s;
}
.authors-names-active {
    color: gray;
    transition: 2s cubic-bezier(0.79, 0.02, 1, 1) 5s;
    text-align: end;
}
.authors-cover {
    display: block;
    height: 2rem;
    background-color:var(--super-light-blue-color);
    z-index: 100;
}
.authors-cover-active {
    display: block;
    height: 2rem;
    background-color: transparent;
    z-index: 100;
}
@media screen and (max-width:1200px) {
    .flex-container {
        padding-left: 90px;
    }
}
@media screen and (max-width:1100px) {
    .footer {
        margin: 0 auto;
        padding: 50px 40px;
    }
}
@media screen and (max-width:880px) {
    .flex-container {
        padding-left: 20px;
    }
}
@media screen and (max-width:740px) {
    .logo-img {
        width: 250px;
    }
    .footer a {
        align-self: flex-start;
    }
}
@media screen and (max-width:740px) {
    .logo-img {
        display: none;
    }
    .mobile-logo-img {
        display: block;
        filter: drop-shadow(2px 4px 6px rgb(6, 80, 97));
    }
}
@media screen and (max-width:680px) {
    .flex-container {
        padding-left: 0;
    }
}
@media screen and (max-width:650px) {
    .footer {
        padding-left: 0;
    }
}
@media screen and (max-width:570px) {
    .mobile-logo-img {
        display: none;
    }
    .footer {
        padding-left: 40px;
    }
}
@media screen and (max-width:420px) {
    .footer-menu {
        display: none;
    }
    .flex-container {
        justify-content: center;
    }
}
@media screen and (max-width:330px) {
    .footer {
        padding-left: 0;
    }
}
@media screen and (max-width:285px) {
    .svp-list_label {
        top: -50px;
    }
    .svp-list_label::before {
        display: none;
    }
    .svp-list_label::after {
        display: none;
    }
}