.header-menu {
    padding: 20px 30px;
    background-color: rgba(42,160,188, 0.9);

    height: 75px;
    width: 100%;
    max-width: 1920px;
    top:0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.55);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    box-sizing: border-box;

    z-index: 3000;

    color: #fff;
}

.header-menu__logo {
    padding: 7px 0 0 7px;
    min-width: 350px;
    width: 350px;
}
.header-menu__logo-img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 6px black);
}

@media screen and (min-width: 1001px) { /* its important to set 1000 + 1 value. otherwise it will be 1000px deadzone */
    .header-menu__menu-burger {
        display: none;
    }
}@media screen and (max-width: 1000px) {
    .header-menu__menu-section {
        display: none;
    }
    .header-menu__phones {
        display: none;
    }
}

.header-menu__menu-section > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header-menu__menu-section > ul > li {
    padding: 0 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.header-menu__menu-section > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: 3s;
}
.header-menu__menu-section > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__menu-section > ul > li > a:hover {
    text-decoration: underline;
}
.header-menu__menu-section > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones {
    padding-left: 23px;
}
.header-menu__phones > ul {
    list-style: none;
}
.header-menu__phones > ul > li {
    position: relative;
    min-width: 144px;
}
.header-menu__phones > ul > li > a {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    text-decoration: none;
    color: #fff;
    transition: 5s;
}
.header-menu__phones > ul > li > a:hover {
    cursor: pointer;
}
.header-menu__phones > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__phones > ul > li::before {
    content:'';
    position: absolute;
    left: -22px;
    top: 2px;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/mz_ic-phone.1f66.png) center no-repeat;
    background-size: 100%;
}

.header-menu__menu-burger {
    min-height: 20px;
}
.header-menu__menu-burger > a:first-child {
    padding-right: 50px;
}
.header-menu__menu-burger > button {
    border-radius: 10px;
    background-color:transparent;
    border: none;
}
.header-menu__menu-burger > button:hover {
    cursor: pointer;
    background-color:rgba(49, 49, 49, 0.2);
}
.header-menu__menu-burger > button:active {
    background-color:rgba(0, 0, 0, 0.3);
}
.header-menu__menu-burger > a > button {
    border-radius: 10px;
    background-color:transparent;
    border: none;
}
.header-menu__menu-burger > a > button:hover {
    cursor: pointer;
    background-color:rgba(49, 49, 49, 0.2);
}
.header-menu__menu-burger > a > button:active {
    background-color:rgba(0, 0, 0, 0.3);
}

.scroll-up-btn {
    margin: 7px 10px 5px 10px;
    box-sizing: border-box;

    border: none;
    
    background-color:transparent;

    position: fixed;

    bottom: 30px;
    right: 40px;

    z-index: 1000;

}
.scroll-up-btn:hover {
    cursor: n-resize;
}

.header-menu_mobile-menu_wrapper {
    display: none;
}
.header-menu_mobile-menu_wrapper_active {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    animation: shadow 0.3s ease 1 normal;
    background-color: rgba(74,160,171, 0.85);
}
.header-menu_mobile-menu {
    padding: 130px 80px 130px 80px;
}
.header-menu_mobile-menu > ul {
    text-align: end;
    line-height: 4rem;
    list-style: none;
}
.header-menu_mobile-menu > ul > li::after {
    content: "\2022";
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    width: 1.5rem;
    margin-right: -1.5rem;
    animation: shadow_dots 0.3s ease 1 normal;
}
.header-menu_mobile-menu > ul > li > a {
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    animation: drop_1 0.6s cubic-bezier(0.18, 0.89, 0.26, 1.25) 1 normal;
}

@keyframes drop_1 {
    from {
        right: -500px;
    }
    to {
        right: 0px;
    }
}
@keyframes shadow {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(74,160,171, 0.85);
    }
    
}
@keyframes shadow_dots {
    from {
        top: -500px;
    }
    to {
        top: 0
    }
    
}