.header-menu {
    padding: 20px 30px;
    background-color: rgba(42,160,188, 0.9);

    height: 75px;
    width: 100%;
    max-width: 1920px;
    top:0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.55);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    box-sizing: border-box;

    z-index: 3000;

    color: #fff;
}

.header-menu__logo {
    padding: 7px 0 0 7px;
    min-width: 350px;
    width: 350px;
}
.header-menu__logo-img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 6px black);
}

.header-menu__menu-section > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header-menu__menu-section > ul > li {
    padding: 0 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.header-menu__menu-section > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: 3s;
}
.header-menu__menu-section > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__menu-section > ul > li > a:hover {
    text-decoration: underline;
}
.header-menu__menu-section > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones {
    padding-left: 23px;
}
.header-menu__phones > ul {
    list-style: none;
}
.header-menu__phones > ul > li {
    position: relative;
    min-width: 144px;
}
.header-menu__phones > ul > li > a {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    text-decoration: none;
    color: #fff;
    transition: 5s;
}
.header-menu__phones > ul > li > a:hover {
    cursor: pointer;
}
.header-menu__phones > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__phones > ul > li::before {
    content:'';
    position: absolute;
    left: -22px;
    top: 2px;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/mz_ic-phone.1f66.png) center no-repeat;
    background-size: 100%;
}

.header-menu__menu-burger {
    min-height: 20px;
}
.header-menu__menu-burger > a:first-child {
    padding-right: 30px;
}
.header-menu__menu-burger > a > button {
    border-radius: 10px;
    background-color:transparent;
    border: none;
}
.header-menu__menu-burger > a > button:hover {
    cursor: pointer;
    background-color:rgba(49, 49, 49, 0.2);
}
.header-menu__menu-burger > a > button:active {
    background-color:rgba(0, 0, 0, 0.3);
}

.scroll-up-btn {
    margin: 7px 10px 5px 10px;
    box-sizing: border-box;

    border: none;
    
    background-color:transparent;

    position: fixed;

    bottom: 30px;
    right: 40px;

    z-index: 1000;

}
.scroll-up-btn:hover {
    cursor: n-resize;
}