.header-menu {
    background-color: rgba(42,160,188, 0.9);

    height: 75px;
    width: 100%;
    max-width: 1920px;
    top:0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.55);

    position: fixed;
    box-sizing: border-box;
    overflow: hidden;

    z-index: 3000;

    color: #fff;

    transition: height ease .3s;
}
.header-menu_wrapper {
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.header-menu__logo {
    padding: 7px 0 0 7px;
    min-width: 350px;
    width: 350px;
}
.header-menu__logo-img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 6px black);
}
.header-menu__logo-img_mobile {
    height: 65px;
    filter: drop-shadow(0 0 5px black);
}

.header-menu__menu-section > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header-menu__menu-section > ul > li {
    padding: 0 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.header-menu__menu-section > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: 3s;
}
.header-menu__menu-section > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__menu-section > ul > li > a:hover {
    text-decoration: underline;
}
.header-menu__menu-section > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones {
    padding-left: 23px;
}
.header-menu__phones > ul {
    list-style: none;
}
.header-menu__phones > ul > li {
    position: relative;
    min-width: 144px;
}
.header-menu__phones > ul > li > a {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    text-decoration: none;
    color: #fff;
    transition: 5s;
}
.header-menu__phones > ul > li > a:hover {
    cursor: pointer;
}
.header-menu__phones > ul > li > a:active {
    text-shadow: 0 0 4px rgb(70, 70, 70),
        0 0 6px rgb(85, 85, 85),
        0 0 8px gray;
    transition: 0.1s;
}
.header-menu__phones > ul > li > a:visited {
    text-decoration: none;
    color: #fff;
}
.header-menu__phones > ul > li::before {
    content:'';
    position: absolute;
    left: -22px;
    top: 2px;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/mz_ic-phone.1f66.png) center no-repeat;
    background-size: 100%;
}

.header-menu_mobile-menu > ul > li {
    position: relative;
    left: 400px;
    transition: left ease-out 0.3s;
}

.header-menu_mobile_phone {
    position: absolute;
    top: 26px;
    right: 100px;
}
.header-menu_mobile_phone > img {
    width: 22px;
}
#header-menu_mobile-menu-checkbox {
    display: none;
}
.header-menu_mobile-menu-label {
    position: fixed;
    top:25px;
    right: 35px;
    height: 24px;
    width: 24px;
    display: block;
    cursor: pointer;
    background-color:transparent;
    z-index: 3001;
}
.header-menu_mobile-menu-icon,
.header-menu_mobile-menu-icon::before,
.header-menu_mobile-menu-icon::after {
    content:'';
    background-color:#fff;
    position: absolute;
    height: 3px;
    width: 24px;
    transition: background-color ease .3s,
        top ease .3s .3s, transform ease .3s;
}
.header-menu_mobile-menu-icon {
    top: 10px;
}
.header-menu_mobile-menu-icon::before {
    top: -8px;
}
.header-menu_mobile-menu-icon::after {
    top: 8px;
}
/* checked */
#header-menu_mobile-menu-checkbox:checked + .header-menu_mobile-menu-label .header-menu_mobile-menu-icon {
    background-color:transparent;
}
#header-menu_mobile-menu-checkbox:checked + .header-menu_mobile-menu-label .header-menu_mobile-menu-icon::before {
    transform: rotate(45deg);
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}
#header-menu_mobile-menu-checkbox:checked + .header-menu_mobile-menu-label .header-menu_mobile-menu-icon::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}
#header-menu_mobile-menu-checkbox:checked ~ header {
    height: 100vh;
    transition: height ease-out .3s;
}
/* each menu item travel delay */
#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu::before {
    left: 0;
    transition: left cubic-bezier(0.4, 0, 1, 1) 0.6s;
}
#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li {
    left: 0;
}
#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li:first-child {
    transition: left ease-out .3s;
}
#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li:nth-child(2) {
    transition: left ease-out .3s .1s;
}
#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li:nth-child(3) {
    transition: left ease-out 0.3s .2s;
}#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li:nth-child(4) {
    transition: left ease-out 0.3s .3s;
}#header-menu_mobile-menu-checkbox:checked ~ header > .header-menu_mobile-menu > ul > li:nth-child(5) {
    transition: left ease-out 0.3s .4s;
}

.scroll-up-btn {
    margin: 7px 10px 5px 10px;
    box-sizing: border-box;

    border: none;
    
    background-color:transparent;

    position: fixed;

    bottom: 30px;
    right: 40px;

    z-index: 1000;

}
.scroll-up-btn:hover {
    cursor: n-resize;
}

.header-menu_mobile-menu_wrapper {
    display: block;
    position: fixed;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    background-color:transparent;
    transition: background-color 0.5s, top 0.1s 0.5s;
}
.header-menu_mobile-menu_wrapper_active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    background-color: rgba(74,160,171, 0.85);
    transition: background-color 0.8s, top 0.1s;
}
.header-menu_mobile-menu {
    height: calc(100vh - 78px - 40px); /* 78px = header menu bar height; 40px = padding-top of the element */
    padding-top: 40px;
    padding-right: 80px;
}
.header-menu_mobile-menu::before {
    content:'';
    display: block;
    position: absolute;
    left: -100vw;
    top: 75px;
    width: 100vw;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.55);
    transition: left linear .1s .6s;
}
.header-menu_mobile-menu > ul {
    text-align: end;
    line-height: 4rem;
    list-style: none;
}
.header-menu_mobile-menu > ul > li::after {
    content: "\2022";
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    width: 1.5rem;
    margin-right: -1.5rem;
}
.header-menu_mobile-menu > ul > li > a {
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}

@media screen and (min-width: 1001px) { /* its important to set 1000 + 1 value. otherwise it will be 1000px deadzone */
    .header-menu_mobile_phone {
        display: none;
    }
    .header-menu_mobile-menu-icon {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .header-menu__menu-section {
        display: none;
    }
    .header-menu__phones {
        display: none;
    }
}
@media screen and (min-width: 561px) {
    .header-menu__logo_mobile {
        display: none;
    }
    .header-menu__logo {
        display: block;
    }
}
@media screen and (max-width:341px) {
    .header-menu_mobile-menu > ul > li > a {
        font-size: 1.33rem;
    }
    .header-menu_mobile-menu {
        padding-right: 50px;
    }    
}
@media screen and (max-width:290px) {
    .header-menu_mobile-menu > ul > li > a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 560px) {
    .header-menu__logo {
        display: none;
    }
    .header-menu__logo_mobile {
        display: block;
        position: relative;
        top: -15px;
        left: 0px;
    }
    .scroll-up-btn {
        display: none;
    }
}
@media screen and (min-width: 1920px) {
    .scroll-up-btn {
        right: calc(50vw - 920px);
    }
}
@media screen and (max-height: 450px) {
    .header-menu_mobile-menu {
        padding: 70px;
        padding-top: 0px;
    }
}
@media screen and (max-height: 380px) {
    .header-menu_mobile-menu > ul > li > a, .header-menu_mobile-menu > ul > li::after {
        font-size: 1.3rem;
    }
    .header-menu_mobile-menu > ul > li {
        height: 45px;
    }
}
@media screen and (max-height: 290px) {
    .header-menu_mobile-menu > ul > li > a, .header-menu_mobile-menu > ul > li::after {
        font-size: 1rem;
    }
    .header-menu_mobile-menu > ul > li {
        height: 30px;
    }
}